@import "~bootstrap/scss/bootstrap.scss";

.container {
    display: flex;
    // justify-content: center;

}

.col {
    display: flex;
    justify-content: center;
}

.card {
    background: black;
    width: 100px;
    height: 150px;
    border-color: gray;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
    
}

.card-body {
    display: flex;
    justify-content: center;
    font-family: 'Nova Mono', monospace;
    font-size: 75px;
    align-items: center;
}

.row {
    background: black;
    justify-content: center;
    
}

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

    .blackCard{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 150px;
}

*/
